:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #ABACB3;
    --hero-background: #6D6D7B;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
    --primaty-font: 'Roboto', sans-serif;
    --card-set-gap: 24px;   
}

body {
    font-family: var(--primaty-font);
    background-color: var(--white-background);
    color: var(--text);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    /* height: auto; */
}

.container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/**-------------- HEADER------------------ */

.header {
    background-color: var(--bg-color);
    /* padding: 24px 0px; */
    border-bottom: 1px solid var(--accent);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 76px;
}

.header-logo-last {
    color: var(--dark);
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    /* padding: 24px 0; */
}

.header-menu-item:hover,
.header-menu-item:focus {
    color: var(--pressed-state);
}

.header-address {
    color: var(--dark);
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 40px;
}

.header-address-item {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.header-address-item:hover,
.header-address-item:focus {
    color: var(--pressed-state);
}

/**-------------- HERO------------------ */

.hero {
    background: var(--dark);
    padding: 188px 0px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;

}

.hero-bottom-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: var(--primary-brand);
    color: var(--white-background);
    letter-spacing: 0.04em;

    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;

}

.hero-bottom-text:hover,
.hero-bottom-text:focus {
    background: var(--pressed-state);
}

/**-------------- Feature--------------- */

.feature {
    padding: 120px 0px;
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-list>.item {
    flex-basis: calc((100% - 72px) / 4);
}

.feature-list-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/**-------------- doing------------------ */

.doing {
    padding-bottom: 120px;
}

.doing-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-list>.item {
    flex-basis: calc((100% - 48px) / 3);
}

/**-------------- Team------------------ */

.team {
    background: var(--light);
    padding: 120px 0;
} 

.team-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: var(--white-background);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list-name {
    padding: 32px 16px;
}

.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text);
}

/**============== Portfolio ============= */

/**------------- Filter btn------------- */

.filter {
    padding: 96px 0px 120px 0px;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn {
    padding: 12px 24px;
    border: 1px solid var(--accent);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--light);
    color: var(--primary-brand);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    border: 1px solid transparent
}

/**------------- Project card------------- */

.card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.card-list-container {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.card-list>.item {
    flex-basis: calc((100% - 48px) / 3);
}

.card-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}

.card-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/**-------------- Footer------------------ */

.footer {
    background-color: var(--dark);
    padding: 100px 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-last {
    color: var(--light);
}

.footer-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    width: 264px;
}
